* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
}

#temperature {
    font-size: 64px;
    color: maroon;
}

button {
    padding: 0.5rem 1.5rem;
    background-color: orange;
    border: none;
    margin-top: 2rem;
}